.page {
    width: 100%;
    height: 1080px;
    position: relative
}

.titleCtn {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.title {
    color: var(--primary);
}

.arrow {
    position: absolute;
    top: 9.5%;
    left: 7%;
    width: 40px;
}

.productCtn {
    display: flex;
    margin-top: 200px;
    margin-left: 50px
}

.imageCtn {
    min-width: 500px;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 1px 0px 14px 0px rgba(50, 50, 50, 0.286);
    -moz-box-shadow: 1px 0px 14px 0px rgba(50, 50, 50, 0.286);
    box-shadow: 1px 0px 14px 0px rgba(50, 50, 50, 0.286);
    margin-left: 50px;
}

.productIMG {
    width: 300px;
    height: 350px;
}

.productDescCtn {
    margin-left: 50px;
}

.descBr {
    display: flex;
}

.productDesc {
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

.productTitle {
    color: var(--primary);
    font-size: 23px;
    padding-bottom: 10px;
}

.productTitleLabel {
    color: var(--primary);
    font-size: 23px;
    padding-bottom: 10px;
    font-weight: bold;
}

.productDescText {
    max-width: 500px;
}

.productCategoryCtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 200px;
    width: 200px;
}

.productPrice {
    margin-top: 100px;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

.IbCtn {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    margin-top: 10px;
}

input {
    max-width: 125px;
    height: 35px;
    border: solid var(--primary) 1px;
    padding: 10px;
    font-size: 20px
}

input::placeholder {
    text-align: right;
    padding-right: 5px
}

input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    text-align: center;
    margin: 0;
}

input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    text-align: center;
    margin: 0
}

button {
    margin-top: 20px;
    width: 70%;
    height: 50px;
    border: 0px;
    background-color: var(--primary);
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button[disabled=disabled],
button:disabled {
    opacity: 0.33;
    cursor: not-allowed;
}

.pricesCtn {
    display: flex;
    width: 400px;
    justify-content: space-between;
    align-items: center;
}

.productTVA {
    opacity: 0.7;
}

.loading {
    background-color: white;
    width: 50%;
    margin-right: 25px;
    height: 50%;
    position: relative
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    text-align: center;

    margin: 0;
}

/* Opéra*/
input::-o-inner-spin-button,
input::-o-outer-spin-button {
    -o-appearance: none;
    text-align: center;
    margin: 0
}

@media screen and (max-width:1520px) {
    .productCtn {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imageCtn {
        max-width: 200px !important;
        max-height: 200px;
        margin-left: 0px;
    }

    .productIMG {
        width: 200px;
        height: 250px;
    }

    .titleCtn {
        margin-top: 50px;
    }

    .arrow {
        top: 4.5%;
        left: 7%;
    }

    .productDescCtn {
        margin-left: 0px;
        width: 100%;
        display: flex;
        height: 442px;
        flex-direction: column;
        align-items: center;
    }

    .productDesc {
        width: 100%;
        display: flex;
    }

    .productCtn {
        margin-top: 50px
    }

    .descBr {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        margin-top: 50px;
    }

    .productCategoryCtn {
        margin-left: 20px;
    }

    .productPrice {
        width: 100%;
        justify-content: center;
    }

    .productTitle {
        width: 110px;
    }

    .productTitleLabel {
        width: 110px;
    }
}

@media screen and (max-width:1380px) {
    .title {
        font-size: 22px;
    }

    .arrow {
        top: 4.8%;
        width: 25px;
    }
}

@media screen and (max-width:730px) {
    .title {
        font-size: 18px;
    }

    .arrow {
        top: 4.8%;
        width: 20px;
    }

    .productDesc {
        margin-left: 20px;
    }

    .pricesCtn {
        flex-direction: column;
        max-width: 100%;
    }

    .IbCtn {
        align-items: center;
    }

    .productTVA {
        opacity: 0.7;
        margin-top: 15px;
    }

    .arrow {
        top: 1.5%;
        width: 30px;
    }

    .title {
        margin-top: 20px
    }
}

@media screen and (max-width: 500px) {
    .productCtn {
        width: auto;
        margin-left: 0px;
    }

    .imageCtn {
        min-width: 90%;
    }



    .title {
        width: 80%;
        text-align: center;
    }

    .productDescCtn {
        width: auto;
    }

    .productTitle {
        width: auto;
    }

    .productTitleLabel {
        width: auto;
    }

    .productCategoryCtn {
        margin-left: 0px;
    }

}