.categoryJewelery {
    width: 120px;
    background-color: #32B436;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: white;
    align-self: center;
}

.categoryMens {
    width: 120px;
    color: white;
    background-color: #FFA846;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    align-self: center;
}

@media screen and (max-width:1065px) {
    .categoryJewelery {
        width: 60px;
        padding: 4px;
    }

    .categoryMens {
        width: 60px;
        padding: 4px;
    }
}

@media screen and (max-width:500px) {
    .categoryJewelery {
        font-size: 12px;
    }

    .categoryMens {
        font-size: 12px;
    }
}