.home {
    width: 82%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-top: 50px;
    color: #564AFF;
}

@media screen and (max-width:1065px) {
    .home {
        width: 99%;
    }
    .title {
        margin-top: 50px;
        color: #564AFF;
    }
}